<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>WeatherApp</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 50%;
  width: 50%;
  margin-left:25%;
  margin-right:25%;
  margin-top:2em;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>
</head>
<body align="center">
<div>
<h1>Safe Surfers</h1>
<h2>For best experience, select coordinates closest to the shore</h2>
<form action="" method="get">
<input type="text" id="lat" name="lat" placeholder="Enter Latitude">
<input type="text" id="lon" name="lon" placeholder="Enter Longitude">
<input type="submit" name="send" value="Search">
</form>
<p>
{% if weather_id %}
{% if is_unsafe %}
<h3>The nearest beach to the coordinates is dangerous to surf.<br>Head back to the land. </h3>
{% elif is_partly_safe %}
<h3>The nearest beach to the coordinates stands safe but stay cautious.<br> It's cloudy out there. </h3>
{% else %}
<h3>The nearest beach to the coordinates is completely safe to surf.<br> Enjoy your day! </h3>
{% endif %}
{% endif %}
</p>
</div>
<div id="map"></div>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{google_api}}&callback=initMap">
</script>
</body>
<script>
function initMap() {
  const myLatlng = { lat: -25.363, lng: 131.044 };
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 4,
    center: myLatlng,
  });
  // Create the initial InfoWindow.
  let infoWindow = new google.maps.InfoWindow({
    content: "Click the map to get Lat/Lng!",
    position: myLatlng,
  });
  infoWindow.open(map);
  // Configure the click listener.
  map.addListener("click", (mapsMouseEvent) => {
    // Close the current InfoWindow.
    infoWindow.close();
    // Create a new InfoWindow.
    infoWindow = new google.maps.InfoWindow({
      position: mapsMouseEvent.latLng,
    });
    infoWindow.setContent(
      JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
    );
    infoWindow.open(map);
  });
}
</script>
</html>
